<head>    
    <title>nelsona9 Portfolio</title>    
    <link rel="stylesheet" type="text/css" href="static/style.css">    
</head>    
<body>    
    <div class="login-box auth0-box before"></div>
        <img src="https://i.cloudup.com/StzWWrY34s.png" />
        <br/>
        <h1>Welcome</h1>
        <br/>
        <p>Welcome to nelsona9's portfolio project. By clicking the link below, you will be asked to sign in to Auth0. You'll then be redirected to a page that displays username and info.</p>
        <h4>The login button does not work. Please see my PDF for the usernames/passwords to use with my Postman colelction.</h4>
        <br/>
        <!--<a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>-->
        <a class="btn btn-primary btn-lg btn-login btn-block">Log In</a>  
    </div>    
</body> 